$font-stack: Helvetica, sans-serif;
$primary-color: rgba(255, 197, 113);
$link-color: rgba(255, 197, 113, 0.5);
$secondary-color: #552583;
$standard-distance: 10px;
$border-color: 1px solid rgba(235, 235, 235, 0.64);